* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, "Times New Roman", sans-serif;
}

.container h1 {
  text-align: center;
}

.recipe-card {
  display: inline-block;
  width: 450px;
  height: 800px;
  overflow: hidden;
}

.recipe-card.spinach-pizza {
  background-color: #FAF9F6;
  border: 3px solid red;
}

.recipe-card.choco-butternut {
  background-color: #FAF9F6;
  border: 3px solid orange;
}

.recipe-card.potato-mojos {
  background-color: #FAF9F6;
  border: 3px solid brown;
}

.spinach-pizza-image,
.choco-butternut-image,
.potato-mojos-image {
  width: 250px;
  height: 250px;
}